.create-form label{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px !important;
  }

  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #212121;
    flex-direction: column;
  }